.concerts {
  margin-top: var(--layout-default-mobile-spacing);
  margin-bottom: var(--layout-default-mobile-spacing);

  @media screen and (min-width: 50rem) {
    margin-top: var(--layout-default-desktop-spacing);
    margin-bottom: var(--layout-default-desktop-spacing);
  }

  & > *:last-child {
    margin-top: 2rem;
  }
}
