.root {
  margin: auto 0;

  @media screen and (min-width: 50rem) {
    display: none;
  }
}

.menuButton {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--color-primary-dark);
  cursor: pointer;
}

.menuIcon {
  width: 1.75rem;
  height: 1.75rem;
}

.heading {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 1.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  z-index: 100;
}
