$image-width: 100%;
$image-height: calc($image-width * 1.414);
$shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

.container {
  display: grid;
  grid-template-areas:
    'main'
    'sidebar';
  grid-template-columns: 1fr;

  @media screen and (min-width: 50rem) {
    grid-template-columns: 33% 1fr;
    grid-template-areas: 'sidebar main';
    max-width: 50rem;
    margin: 0 auto;
  }
}

.noGrid {
  grid-template-areas:
    'main'
    'sidebar';
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;

  background-color: var(--color-primary);
  color: var(--color-secondary-light);

  padding: 4rem 1rem;

  @media screen and (min-width: 50rem) {
    padding: 8rem 0;
  }
}

.headerTitle {
  @media screen and (min-width: 50rem) {
    max-width: var(--max-content-width);
    margin: 0 auto;
  }
}

.program {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;

  @media screen and (min-width: 50rem) {
    text-align: center;
  }
}

.programItem {
  color: var(--color-background);
}

.programTitle {
  font-weight: bold;
}

.sidebar {
  grid-area: sidebar;
  margin-bottom: var(--layout-default-mobile-spacing);

  @media screen and (min-width: 50rem) {
    margin-bottom: 0;
  }
}

.sidebarContent {
  line-height: 0;

  @media screen and (min-width: 50rem) {
    position: sticky;
    top: calc(0.5rem + 50px);
    transform: translateY(calc(50px * -1));
  }
}

.content {
  grid-area: main;

  @media screen and (min-width: 50rem) {
    margin-left: 3rem;
  }
}

.imageContainer {
  border-radius: 8px;
  flex-shrink: 0;
  max-width: fit-content;

  @media screen and (min-width: 50rem) {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.persons {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  border-radius: 8px;

  @media screen and (min-width: 50rem) {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem 2rem;
  }
}

.person:not(:last-child) {
  margin-bottom: 1rem;

  @media screen and (min-width: 50rem) {
    margin-bottom: 2rem;
  }
}

.personTitle {
  text-transform: uppercase;
}

.imageContainer + .persons {
  margin-top: 1rem;

  @media screen and (min-width: 50rem) {
    margin-top: 3rem;
  }
}

.concertListItem {
  margin-top: var(--layout-default-mobile-spacing);

  @media screen and (min-width: 50rem) {
    margin-left: 1.5rem;
    margin-top: var(--layout-default-desktop-spacing);
  }
}

.locations {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width: 50rem) {
    flex-direction: row;
    gap: 0;
  }
}
