h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--typography-serif);
}

h1,
.h1 {
  font-size: 2.875rem;

  @media screen and (min-width: 50rem) {
    font-size: 3.375rem;
  }
}

h2,
.h2 {
  font-size: 2.375rem;

  @media screen and (min-width: 50rem) {
    font-size: 2.875rem;
  }
}

h3,
.h3 {
  font-size: 1.5rem;

  @media screen and (min-width: 50rem) {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: 1.25rem;

  @media screen and (min-width: 50rem) {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1rem;

  @media screen and (min-width: 50rem) {
    font-size: 1.25rem;
  }
}

h6,
.h6 {
  font-size: 0.875rem;

  @media screen and (min-width: 50rem) {
    font-size: 1rem;
  }
}

p,
.text-normal {
  font-size: 1rem;

  @media screen and (min-width: 50rem) {
    font-size: 1.125rem;
  }
}

.text-small {
  font-size: 0.875rem;

  @media screen and (min-width: 50rem) {
    font-size: 1rem;
  }
}

.text-large {
  font-size: 1.125rem;

  @media screen and (min-width: 50rem) {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: var(--colour-secondary);
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--colour-secondary-dark);
  }
}

mark,
.mark {
  background-color: var(--colour-secondary-light);
}

pre {
  text-wrap: wrap;
}

.underline {
  text-decoration: underline;
}
