.link {
  display: block;
  color: var(--color-primary-dark);
  font-family: var(--typography-serif);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--color-secondary);
  }
}
