.defaultSpacing {
  margin-top: var(--layout-default-mobile-spacing);
  margin-bottom: var(--layout-default-mobile-spacing);
  margin-left: 1rem;
  margin-right: 1rem;

  @media screen and (min-width: 50rem) {
    margin-top: var(--layout-default-desktop-spacing);
    margin-bottom: var(--layout-default-desktop-spacing);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-content-width);
  }
}

.defaultSpacing + .defaultSpacing {
  margin-top: 0;
}

.headerSpacing {
  margin-top: var(--layout-default-mobile-spacing);
  margin-bottom: var(--layout-default-mobile-spacing);

  @media screen and (min-width: 50rem) {
    margin-top: var(--layout-default-desktop-spacing);
    margin-bottom: var(--layout-default-desktop-spacing);
  }
}

.headerSpacing + .headerSpacing,
.header + .headerSpacing {
  margin-top: 4rem;

  @media screen and (min-width: 50rem) {
    margin-top: 8rem;
  }
}

.headerSpacing + * {
  margin-top: 0;
}

* + .headerSpacing {
  margin-top: 0;
}
