.link {
  display: block;
  color: var(--colour-primary-dark);
  font-family: var(--typography-serif);
  font-size: 1.25em;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--colour-secondary);
  }
}
