.root {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-self: end;

  @media screen and (min-width: 50rem) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @media screen and (min-width: 50rem) {
    flex-direction: row;
  }
}

.title {
  color: var(--color-secondary-light);
  margin-bottom: 0.5rem;
}

.address {
  font-style: normal;
  margin-bottom: 2rem;

  p {
    margin: 0;
  }
}

.link {
  color: var(--color-background);

  &:hover,
  &:focus {
    color: var(--color-background);
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logoList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  position: relative;
  object-fit: contain;
  object-position: left;
}

.logoLink {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;

  @media screen and (min-width: 50rem) {
    height: 40px;
  }
}
