$image-width: 15rem;
$image-large-width: 20rem;
$image-height: calc($image-width * 1.414);
$image-large-height: calc($image-large-width * 1.414);

$dash-size: 0.5rem;
$dash-offset: 0.5rem;
$dash-large-mobile-offset: 1rem;
$dash-large-desktop-offset: 2rem;
$border-size: 0.2rem;
$padding-left: 1.5rem;
$padding-large-left: 2.5rem;

%line {
  position: absolute;
  left: 0;
  top: calc(var(--layout-default-mobile-spacing) * -1);
  content: '';
  height: calc(100% + var(--layout-default-mobile-spacing));
  border-left: $border-size solid var(--colour-secondary);
  z-index: -1;
  transform: translateX(-1rem);

  @media screen and (min-width: 50rem) {
    top: calc(var(--layout-default-desktop-spacing) * -1);
    height: calc(100% + var(--layout-default-desktop-spacing));
    transform: translateX(-3rem);
  }
}

.root {
  position: relative;
  // margin-left: $margin-left;
  margin-bottom: var(--layout-default-mobile-spacing);

  @media screen and (min-width: 50rem) {
    margin-bottom: var(--layout-default-desktop-spacing);
  }
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  color: var(--colour-primary);

  a {
    color: var(--colour-primary);
  }
}

.content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 50rem) {
    flex-direction: row;
  }

  .program {
    list-style: none;
    padding: 0;
    margin: 0;

    margin-bottom: 1.5rem;

    @media screen and (min-width: 50rem) {
      margin-bottom: 3rem;
    }
  }

  .locations {
    list-style: none;
    padding: 0;
    margin: 0;

    .location {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.75rem;

      @media screen and (min-width: 50rem) {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.imageContainer {
  border-radius: 8px;
  background-color: var(--colour-secondary-light);
  flex-shrink: 0;
  max-width: fit-content;

  @media screen and (min-width: 50rem) {
    width: $image-width;
    height: $image-height;
  }
}

.image {
  width: $image-width;
  height: $image-height;
  max-width: 100%;
  border-radius: inherit;
  object-fit: cover;
  transform: translate(-5%, 2.5%);
}

.programTitle {
  font-weight: bold;
}

.locationTitle {
  margin: 0;
  position: relative;
  order: 2;
}

.locationSubtitle {
  margin: 0;
  order: 1;
}

.locationLinkContainer {
  font-weight: bold;
  order: 3;
}

.locationLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.locationLinkIcon {
  width: 1rem;
  height: 1rem;
}

.eventLink {
  width: 100%;
  font-family: var(--typography-sans);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--colour-primary);
}

.hasImage .eventLink {
  justify-content: flex-end;
  max-width: $image-width;
  margin-top: 1rem;

  @media screen and (min-width: 50rem) {
    max-width: initial;
  }
}

.large.hasImage .eventLink {
  max-width: $image-large-width;

  @media screen and (min-width: 50rem) {
    max-width: initial;
  }
}

.large {
  .title {
    margin-bottom: 0.5rem;

    @media screen and (min-width: 50rem) {
      margin-bottom: 1rem;
    }
  }

  .imageContainer {
    @media screen and (min-width: 50rem) {
      width: $image-large-width;
      height: $image-large-height;
    }
  }

  .image {
    width: $image-large-width;
    height: $image-large-height;
    transform: translate(-5%, 2.5%);

    @media screen and (min-width: 50rem) {
      transform: translate(-7%, 4.5%);
    }
  }

  .content {
    @media screen and (min-width: 50rem) {
      gap: 2.5rem;
    }
  }

  .program {
    margin-bottom: 2rem;

    @media screen and (min-width: 50rem) {
      margin-bottom: 4rem;
    }
  }

  .locations {
    .location {
      margin-bottom: 1.5rem;

      @media screen and (min-width: 50rem) {
        margin-bottom: 3rem;
      }
    }
  }

  .locationLink {
    gap: 0.75rem;
  }

  .locationLinkIcon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .eventLink {
    margin-top: 1.5rem;

    @media screen and (min-width: 50rem) {
      margin-top: 0;
    }
  }
}

.isLast {
  padding-bottom: 0;
}

// LocationTitle dots
.locationTitle::before {
  content: '';
  position: absolute;
  transform: translateX(-3.65rem);
  width: $dash-size + 1rem;
  height: $dash-size;
  background-color: var(--colour-secondary);
}

.large .locationTitle::before {
  width: $dash-size + 1rem;
  height: $dash-size;
}

// Root line
.root::before {
  @extend %line;
}

.large::before {
  border-left: $border-size solid var(--colour-secondary);
  // transform: translateX(1rem);
}

.isLast::before {
  height: 125%;
}

.isLast.oneLocation::before,
.isLast.hasTitle::before {
  height: 120%;
}

// locationTitle line
.isLast .location:last-child .locationTitle::after {
  @extend %line;

  border-color: var(--colour-background);
  border-width: $border-size * 2;
  height: calc(100% + var(--layout-default-mobile-spacing) + $image-height);
  top: calc($dash-offset + 1rem);
  left: calc(($padding-left * -1) - ($border-size / 2));

  @media screen and (min-width: 50rem) {
    height: calc(100% + var(--layout-default-desktop-spacing));
  }
}

.large.isLast .location:last-child .locationTitle::after {
  border-width: $border-size * 2;
  height: calc(
    100% + var(--layout-default-mobile-spacing) + $image-large-height
  );
  top: calc($dash-large-mobile-offset + 1rem);
  left: calc(($padding-large-left * -1) - ($border-size / 2));

  @media screen and (min-width: 50rem) {
    top: calc($dash-large-desktop-offset + 1rem);
    height: calc(100% + var(--layout-default-desktop-spacing));
  }
}

.isLast:not(.hasImage) .location:last-child .locationTitle::after {
  height: calc(100% + var(--layout-default-mobile-spacing));

  @media screen and (min-width: 50rem) {
    height: calc(100% + var(--layout-default-desktop-spacing));
  }
}
