.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  font-style: normal;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.detailsText {
  margin: 0;
}
