$image-width: 100%;
$image-height: calc($image-width * 1.414);
$padding-left-sidebar: 3rem;
$shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);

.container {
  display: grid;
  grid-template-areas:
    'main'
    'sidebar';
  grid-template-columns: 1fr;

  @media screen and (min-width: 50rem) {
    grid-template-columns: 33% 1fr;
    grid-template-areas: 'sidebar main';
  }
}

.noGrid {
  grid-template-areas:
    'main'
    'sidebar';
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;

  background-color: var(--colour-primary);
  color: var(--colour-secondary-light);
  padding: 4rem 0;

  @media screen and (min-width: 50rem) {
    padding: 6rem 0;
  }
}

.program {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;

  @media screen and (min-width: 50rem) {
    text-align: center;
  }
}

.programItem {
  color: var(--colour-background);
}

.programTitle {
  font-weight: bold;
}

.sidebar {
  grid-area: sidebar;
  margin-bottom: var(--layout-default-mobile-spacing);

  @media screen and (min-width: 50rem) {
    margin-bottom: 0;
  }
}

$sidebar-translate: 50px;

.sidebarContent {
  @media screen and (min-width: 50rem) {
    position: sticky;
    top: calc(0.5rem + $sidebar-translate);
    transform: translateY(calc($sidebar-translate * -1));
  }
}

.content {
  grid-area: main;

  @media screen and (min-width: 50rem) {
    padding-left: $padding-left-sidebar;
  }
}

.imageContainer {
  border-radius: 8px;
  flex-shrink: 0;
  max-width: fit-content;

  @media screen and (min-width: 50rem) {
    box-shadow: $shadow;
  }
}

.image {
  width: $image-width;
  height: $image-height;
  max-width: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.persons {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--colour-background);
  border-radius: 8px;

  @media screen and (min-width: 50rem) {
    box-shadow: $shadow;
    padding: 2rem 2rem;
  }
}

.person:not(:last-child) {
  margin-bottom: 1rem;

  @media screen and (min-width: 50rem) {
    margin-bottom: 2rem;
  }
}

.personTitle {
  text-transform: uppercase;
}

.imageContainer + .persons {
  margin-top: 1rem;

  @media screen and (min-width: 50rem) {
    margin-top: 3rem;
  }
}

.eventListItem {
  margin-top: var(--layout-default-mobile-spacing);

  @media screen and (min-width: 50rem) {
    margin-left: 1.5rem;
    margin-top: var(--layout-default-desktop-spacing);
  }
}

.root .pageContent {
  margin-top: calc(var(--layout-default-mobile-spacing) - 1.5rem);

  @media screen and (min-width: 50rem) {
    margin-top: calc(var(--layout-default-desktop-spacing) - 2rem);
  }
}

.locations {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width: 50rem) {
    flex-direction: row;
    gap: 0;
  }
}
