$image-large-width: 20rem;
$image-large-height: calc($image-large-width * 1.414);

$dash-offset: 0.5rem;
$dash-large-mobile-offset: 1rem;
$dash-large-desktop-offset: 2rem;
$border-size: 0.2rem;
$padding-large-left: 2.5rem;

%line {
  position: absolute;
  left: 0;
  top: calc(var(--layout-default-mobile-spacing) * -1);
  content: '';
  height: calc(100% + var(--layout-default-mobile-spacing));
  border-left: $border-size solid var(--color-secondary);
  z-index: -1;
  transform: translateX(-1rem);

  @media screen and (min-width: 50rem) {
    top: calc(var(--layout-default-desktop-spacing) * -1);
    height: calc(100% + var(--layout-default-desktop-spacing));
    transform: translateX(-3rem);
  }
}

.root {
  position: relative;
  margin-top: var(--layout-default-mobile-spacing);
  margin-bottom: var(--layout-default-mobile-spacing);

  @media screen and (min-width: 50rem) {
    margin: 0 auto 5rem auto;
    max-width: var(--max-content-width);
  }
}

.title {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0.5rem 1rem;
  color: var(--color-primary);
  text-decoration: none;

  @media screen and (min-width: 50rem) {
    max-width: 30rem;
    margin: 3rem 0 0.5rem 0;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 50rem) {
    flex-direction: row;
  }

  .program {
    list-style: none;
    padding: 0;
    margin: 0;

    margin-bottom: 1.5rem;

    @media screen and (min-width: 50rem) {
      margin-bottom: 3rem;
    }
  }

  .locations {
    list-style: none;
    padding: 0;
    margin: 0;

    .location {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.75rem;

      @media screen and (min-width: 50rem) {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.imageContainer {
  border-radius: 8px;
  background-color: var(--color-primary-light);
  flex-shrink: 0;
  max-width: fit-content;

  width: 12rem;
  margin: 0 auto;

  @media screen and (min-width: 50rem) {
    width: 15rem;
    height: 100%;
    margin: initial;
  }
}

.image {
  height: 100%;
  max-width: 100%;
  border-radius: inherit;
  object-fit: cover;
  transform: translate(-0.5rem, 0.5rem);
}

.programTitle {
  font-weight: bold;
}

.locationTitle {
  margin: 0 1rem 0.25rem 1rem;
  position: relative;
  order: 2;

  @media screen and (min-width: 50rem) {
    margin: 0;
  }
}

.locationSubtitle {
  margin: 0 1rem 0.25rem 1rem;

  order: 1;

  @media screen and (min-width: 50rem) {
    margin: 0;
  }
}

.locationLinkContainer {
  font-weight: bold;
  order: 3;
  margin: 1rem;

  @media screen and (min-width: 50rem) {
    margin: 1rem 0 0;
  }
}

.locationLink {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    color: var(--color-primary-light);
  }
}

.locationLinkIcon {
  width: 1rem;
  height: 1rem;
}

.concertLink {
  width: 100%;
  font-family: var(--typography-sans);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-primary);

  max-width: 15rem;
  margin-top: 1rem;

  &:hover {
    color: var(--color-primary-light);
  }

  @media screen and (min-width: 50rem) {
    margin: 0;
    max-width: initial;
    justify-content: flex-end;
  }
}

.large {
  .title {
    margin-bottom: 0.5rem;

    @media screen and (min-width: 50rem) {
      margin-bottom: 1rem;
    }
  }

  .imageContainer {
    @media screen and (min-width: 50rem) {
      width: $image-large-width;
      height: $image-large-height;
    }
  }

  .image {
    width: $image-large-width;
    height: $image-large-height;
    transform: translate(-0.5rem, 0.5rem);

    @media screen and (min-width: 50rem) {
      transform: translate(-1rem, 1rem);
    }
  }

  .content {
    @media screen and (min-width: 50rem) {
      gap: 2.5rem;
    }
  }

  .program {
    margin-bottom: 2rem;

    @media screen and (min-width: 50rem) {
      margin-bottom: 4rem;
    }
  }

  .locations {
    .location {
      margin-bottom: 1.5rem;

      @media screen and (min-width: 50rem) {
        margin-bottom: 3rem;
      }
    }
  }

  .locationLinkIcon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .concertLink {
    margin-top: 1.5rem;

    @media screen and (min-width: 50rem) {
      margin-top: 0;
    }
  }
}

.isLast {
  padding-bottom: 0;
}

// LocationTitle dots
.locationTitle::before {
  content: '';
  position: absolute;
  transform: translateX(-3.65rem);
  width: 0.5rem + 1rem;
  height: 0.5rem;
  background-color: var(--color-secondary);
}

.large .locationTitle::before {
  width: 0.5rem + 1rem;
  height: 0.5rem;
}

// Root line
.root::before {
  @extend %line;
}

.large::before {
  border-left: $border-size solid var(--color-secondary);
}

.isLast::before {
  height: 125%;
}

.isLast.oneLocation::before,
.isLast.hasTitle::before {
  height: 120%;
}

// locationTitle line
.isLast .location:last-child .locationTitle::after {
  @extend %line;

  border-color: var(--color-background);
  border-width: $border-size * 2;
  height: calc(100% + var(--layout-default-mobile-spacing) + 15rem);
  top: calc(0.5rem + 1rem);
  left: calc((1.5rem * -1) - ($border-size / 2));

  @media screen and (min-width: 50rem) {
    height: calc(100% + var(--layout-default-desktop-spacing));
  }
}

.large.isLast .location:last-child .locationTitle::after {
  border-width: $border-size * 2;
  height: calc(
    100% + var(--layout-default-mobile-spacing) + $image-large-height
  );
  top: calc($dash-large-mobile-offset + 1rem);
  left: calc((2.5rem * -1) - ($border-size / 2));

  @media screen and (min-width: 50rem) {
    top: calc($dash-large-desktop-offset + 1rem);
    height: calc(100% + var(--layout-default-desktop-spacing));
  }
}

.isLast:not(.hasImage) .location:last-child .locationTitle::after {
  height: calc(100% + var(--layout-default-mobile-spacing));

  @media screen and (min-width: 50rem) {
    height: calc(100% + var(--layout-default-desktop-spacing));
  }
}

.concertUrlContainer {
  margin: 0 1rem;

  @media screen and (min-width: 50rem) {
    margin: 1rem 0;
  }
}
