.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 4rem 0;

  @media screen and (min-width: 50rem) {
    padding: 6rem 0;
  }
}

.header.withImage {
  padding: 6rem 0;

  @media screen and (min-width: 50rem) {
    padding: 8rem 0;
  }
}

.header.withImage:not(.withBody) {
  min-height: 30vh;

  @media screen and (min-width: 50rem) {
    min-height: 50vh;
  }
}

header.header.withImage {
  min-height: 50vh;
  padding: 4rem 0;

  @media screen and (min-width: 50rem) {
    padding: 6rem 0;
    min-height: 75vh;
  }
}

.headerContent {
  color: var(--color-background);
  text-align: left;
  z-index: 1;

  margin: 0 1rem;

  @media screen and (min-width: 50rem) {
    max-width: var(--max-content-width);
    margin: 0;
  }

  h2,
  h1 {
    font-size: 2.375rem;
    color: var(--color-secondary-light);
    text-overflow: ellipsis;

    @media screen and (min-width: 50rem) {
      font-size: 2.875rem;
    }
  }

  @media screen and (min-width: 50rem) {
    text-align: left;
  }
}

.header.withImage {
  h1,
  h2 {
    color: var(--color-background);
  }
}

.headerImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.withBody .headerImageWrapper {
  overflow: hidden;
}

.headerImage {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.withBody .headerImage {
  filter: blur(3px);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(
    0.25turn,
    var(--color-secondary),
    var(--color-primary)
  );
  opacity: 0;
}

.withBody .background {
  opacity: 0.5;
}
