.header {
  padding: var(--layout-content-padding);
  padding-left: 0;

  @media screen and (min-width: 50rem) {
    padding: var(--layout-content-padding);
  }

  color: var(--color-primary);

  background: var(--color-background);
}
