body {
  margin: 0;
}

:root {
  --color-background: #ffffff;
  --color-light: #e2edef;
  --color-grey: #899ca0;
  --color-primary: hsl(215deg 100% 15% / 1);
  --color-primary-dark: hsl(215deg 100% 10% / 1);
  --color-primary-light: hsl(215deg 100% 60% / 1);
  --color-secondary: hsl(30deg, 80%, 40%);
  --color-secondary-dark: hsl(30deg, 80%, 20%);
  --color-secondary-light: hsl(30deg, 90%, 80%);

  --typography-sans: 'dm-sans', serif;
  --typography-serif: 'dm-serif', serif;

  --breakpoint-xs: 31.25rem;
  --breakpoint-sm: 50rem;
  --breakpoint-md: 62.5rem;
  --breakpoint-lg: 75rem;
  --breakpoint-xl: 87.5rem;
  --breakpoint-xxl: 120rem;

  --layout-md-width: 50rem;

  --layout-max-content-width: 50rem;

  --layout-content-padding: 24px;

  --layout-default-mobile-spacing: 4rem;
  --layout-default-desktop-spacing: 8rem;

  --max-content-width: 48rem;


  --default-mobile-spacing: 4rem;
  --default-desktop-spacing: 8rem;
}

@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/dm-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/dm-sans-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/dm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/dm-sans-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'dm-serif';
  src: url('/fonts/dm-serif.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dm-serif';
  src: url('/fonts/dm-serif-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: var(--typography-sans);
  background-color: var(--color-background);
  color: var(--color-primary-dark);
  line-height: 1.6;
  font-size: 1.125em;
  word-break: break-word;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.noscroll {
  overflow: hidden;
}

hr {
  margin: 1rem 0;
  height: 0.2rem;
  background-color: var(--color-secondary);
  border: none;
}

a {
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-light);
  }
}