.root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--color-light);
  border-radius: 16px;
  max-width: var(--layout-max-content-width);

  @media screen and (min-width: 50rem) {
    flex-direction: row;
  }
}

.title {
  font-family: var(--typography-serif);
}

.download {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-shrink: 0;
}
