.button {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2rem;

  text-decoration: none;
  border-radius: 2rem;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.suffix {
  font-weight: 400;
  color: var(--color-secondary-light);
  transition: color 0.2s ease-in-out;
}

.primary {
  color: var(--color-background);
  background-color: var(--color-primary);

  .suffix {
    color: var(--color-grey);
  }

  &:hover,
  &:focus {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);

    .suffix {
      color: var(--color-primary);
    }
  }
}

.secondary {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);

  .suffix {
    color: var(--color-primary);
  }

  &:hover,
  &:focus {
    color: var(--color-background);
    background-color: var(--color-primary);

    .suffix {
      color: var(--color-grey);
    }
  }
}

.tertiary {
  color: var(--color-background);
  background-color: var(--color-secondary);

  .suffix {
    color: var(--color-secondary-light);
  }

  &:hover,
  &:focus {
    color: var(--color-primary-dark);
    background-color: var(--color-secondary-light);

    .suffix {
      color: var(--color-primary);
    }
  }
}
